* {
    margin: 0;
    padding: 0;
}

:root {
    --index: calc(1vw + 1vh)
}

body {
    background-color: #010101;
    color: #fff;
    line-height: 1.55;
}

.scroll-container,
.scroll-area {
    max-width: 100vw;
    height: 100vh;
}

.scroll-container {
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: center;
}

.main-header {
    position: relative;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}
.layer__header {
    z-index: 1;
    text-transform: uppercase;
    font-weight: 900;
}
.layers__title {
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
    font-size: calc(var(--index) / 1.7);
    letter-spacing: calc(var(--index) / 4.25);
}
.layers__base {
    height: 400%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
