* {
    margin: 0;
    padding: 0;
}
:root {
    --index: calc(1vw + 1vh)
}
@mixin allign-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin title-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
}
@mixin caption-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: calc(var(--index) / 1.7);
    letter-spacing: calc(var(--index) / 4.25);
}
body {
    font-family: sans-serif;
    font-size: 4em;
    color: white;

    .navbar {
        position: fixed;
        top: 0;
        z-index: 3;
        display: flex;
        width: 100%;
        height: calc(var(--index) * 1.4);
        background: rgba(0, 0, 0, 0.7);
    }
    // .navbar {
    //     position: fixed;
    //     top: 0;
    //     z-index: 3;
    //     display: flex;
    //     width: 100%;
    //     height: calc(var(--index) * 1.4);
    //     background: rgba(0, 0, 0, 0.7);
    // }

    .navbar ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    // .navbar ul {
    //     display: flex;
    //     list-style: none;
    //     width: 100%;
    //     justify-content: center;
    // }

    .navbar ul li {
        display: flex;
        padding: calc(var(--index) / 2);
    }
    // .navbar ul li {
    //     display: flex;
    //     padding: calc(var(--index) / 2);
    // }

    .navbar ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: calc(var(--index) / 2.5);
        letter-spacing: calc(var(--index) / 5.25);
        color: #f4f4f4;
    }
    // .navbar ul li a {
    //     text-decoration: none;
    //     text-transform: uppercase;
    //     font-size: calc(var(--index) / 2.5);
    //     letter-spacing: calc(var(--index) / 5.25);
    //     color: #f4f4f4;
    // }

    .navbar ul li a:hover {
        color: skyblue;
    } 
    // .navbar ul li a:hover {
    //     color: skyblue;
    // } 

    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        scroll-behavior: smooth;
        //ToDo: Add JS script for smooth scroll
        // scroll-snap-type: y mandatory;
        .intro_screen {
            height: 100vh;
            background-color: tomato;
            background-image: url(../../public/img/background.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            @include allign-center;
        }
        .outro_screen {
            height: 100vh;
            background-color: teal;
            @include allign-center;
        }
        .parallax_group {
            //ToDo: Add JS script for smooth scroll
            // scroll-snap-align: end;
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;
            .parallax_layer {
                position: absolute;
                inset: 0;
                @include allign-center;
            }
            .base_layer {
                // scale calc: 1+((Z transform value * -1) / perspective)
                transform: translateZ(-300px) scale(2);
            }
            .mid_layer {
                transform: translateZ(0);
            }
            .top_layer {
                transform: translateZ(210px) scale(0.3);
            }
        }
        #intro {
            z-index: 1;
            // @include allign-center;
            .intro_header {
                z-index: 1;
            }
            .intro_title {
                @include title-text;
            }
            .intro_caption {
                @include caption-text;
            }
        }
        #group-1 {
        }
        #group-1 > .base_layer{
            z-index: 0;
            // background-color: rgba(46, 236, 179, 0.3);
            background-image: url(../../public/img/msu.jpg);
            background-repeat: no-repeat;
            background-size:cover;
            @include title-text;
        }
        #group-1 > .mid_layer{
            z-index: -1;
            @include caption-text;
        }
 
        #group-2 {}
        #group-2 > .top_layer{
            background-color: green;
            @include caption-text;
        }
        #group-2 > .mid_layer{
            background-color: pink;
            @include title-text;
        }
        #outro {
            @include title-text;
        }
    }
}