* {
    margin: 0;
    padding: 0;
}
:root {
    --index: calc(1vw + 1vh)
}
@mixin allign-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin base-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: calc(var(--index) * 1.5);
    letter-spacing: calc(var(--index) / 2.25);
    color: rgb(209, 241, 219)
}
body {
    height: 100vh;
    font-family: sans-serif;
    font-size: 4em;
    color: white;

    .intro_page {
        @include allign-center;
        height: 100vh;
        background: url('../../public/img/background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .intro_group {
            .intro_header {
                display: block;
                @include base-text;
            }
    
            .intro_type_text {
                display: block;
                @include base-text;
            }
        }
    }
}